.Rproj.user
.Rhistory
.RData
.Ruserdata
__pycache__
style.log
example/EinKleinerTest-*.tex
example/EinKleinerTest-*.nav
example/EinKleinerTest-*.snm
example/EinKleinerTest-*.toc
example/EinKleinerTest-*.json
example/sytle.log
*Old.py
*.pyc
*.aux
.idea/